<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google" parallel="tests">

	<!-- <groups> <run> <include name="smoke"></include> <include name="sanity"></include> 
		</run> </groups> -->

	<test name="TC01-Verify google page">
		<parameter name="url" value="http://google.com" />

		<parameter name="expected" value="Google" />

		<classes>
			<class name="testngExample.TC01" />
		</classes>
	</test>



	<test name="TC02-Verify gmail page">
		<parameter name="url" value="http://gmail.com" />

		<parameter name="expected"
			value="Gmail" />

		<classes>
			<class name="testngExample.TC01" />
		</classes>
	</test>


</suite> 
