<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google">
  <test name="TC01-Verify google page">
    <classes>
      <class name="testngExample.TC01"/>
    </classes>
  </test> 
  
  <test name="TC02-Verify google search">
    <classes>
      <class name="testngExample.TC02"/>
    </classes>
  </test> 
  
</suite> 
